*{
	background: black;
	text-align: center;
	color: white;
	margin: 0;
	padding: 0;
	font-family: 'Nanum Myeongjo', serif;
	scroll-behavior: smooth;
}

::-webkit-scrollbar{width: 5px;}
::-webkit-scrollbar-track {background-color:#202020;}
::-webkit-scrollbar-thumb {background-color:#16e321;border-radius: 10px;}
::-webkit-scrollbar-thumb:hover {background: #555;}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
width:15px;height:5px;background:#16e321;} 


#allwrap{
	width: 1000px;
	margin: auto;
	word-break: keep-all;
}
#nav{position: fixed;
	width: 100%;
	 z-index: 100;}
#triangle{
	z-index: 100;
	background: none;
	position: absolute;
    top: 30px;
    left: 0;
    width: 2%;
    cursor: pointer;
    -webkit-animation: rotation 6s infinite linear;
	}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}




span{color: #16e321;}

p{position: relative;
	background: none;
	z-index: 15;}
p span{color: #16e321;
	background: none;
	cursor: pointer;}

p span .fonde{
	background: none;
	text-decoration: none;
    color: #16e321;
	cursor: pointer;}


h1{font-size: 50px;}
h3{font-size: 25px; margin-top: 155px;}
p{font-size: 14px;
	line-height: 1.6;
	word-spacing: 0;}

.pclasses{
	width: 445px;
	height: auto;
	margin-top: 45px;
	margin: 40px auto 0px;
	text-align: left;
}
.midtitle{
	width: 445px;
	margin: auto;
	text-align: left;
}
.boxes{
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


/*메인*/
#coinlogo{
	background-image: url(./img/mainimg.jpg);
	background-size: 100%;
	height: 161px;
	width: 161px;
	margin: auto;
	position: absolute;
	top:166px;
	left: 50%;
	transform: translate(-50%,0);
}
#main{
	height: 675px;
	position: relative;
}
#maintexttop{
	text-transform: uppercase;
	font-size: 20px;
	top:354px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	letter-spacing: 4px;
}
#mainmid{
	text-transform: uppercase;
	font-size: 12px;
	top:393px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	letter-spacing: 2.5px;
}
#mainlogo{
	text-transform: uppercase;
	font-size: 148px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0%);
	letter-spacing: 15px;
}

#twotext{
	color: #16e321;
	text-transform: uppercase;
	font-size: 148px;
	position: absolute;
	top:185px;
	left: 50%;
	transform: translate(-50%, 0%);
	letter-spacing: 15px;
}




/*인트로*/
#intro{
	height: 645px;
	width: auto;
	position: relative;
}
#introwrap{
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.textimg{
	width: 395px;
	height: 335px;
	background:black;
	margin: auto;
	margin-top: 45px;

	background-position-x: center;
   	background-size: 100%;
   	background-repeat: no-repeat;
  	opacity: 0.8;

   	z-index: 50;
}

#bigimg{
	width: 1000px;
	height: 1455px;
	background:url(./img/illcardall.jpg);
	background-size: 100%;
}
#humanimg{
	height: 350px;
	width: 275px;
	background:url(./img/perso.jpg);
	position: absolute;
	left: 465px;
	top: 730px;

}


#vediooo{
	height:auto;
	width: 430px;
	background:black;
}


/*z코비드카드으*/
#contentcard{
	border-bottom: 1px solid #16e321;
	border-top: 1px solid #16e321;
	height: 610px;
	position: relative;
}


#sectiontwo{
	border-top: solid 1px #16e321;
}



/*마지막 상징들,사인들 삼삼삼 삼삼*/
#sectionthree{
	height: auto;
}
#piraimg{
	height: 374px;
	width: 316px;
	background: url(./img/iluubo.png);
	background-repeat: no-repeat;
	background-size: 100%;
	margin:auto;
	margin-bottom: 200px;

}

#imgsss{
	height: auto;
	background: black;
}

footer{
	height: 100px;
	background: black;
	position: relative;
}


footer #footercopy{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

img{
	background: none;
}




/*이미지이이이이이*/

#wuhanbtwoo{
	position: absolute;
    transform: translate(-100%, 60%);
    opacity: 0;
    width: 0%;
}


#topp{
	position: absolute;
    transform: translate(50%, 25%);
    opacity: 0;
    width: 32%;
}
#billllllll{
	position: absolute;
    transform: translate(-50%, -14%);
    opacity: 0;
    width: 100%;
}


/*2*/
#biiild{
	position: absolute;
    transform: translate(-50%, -10%);
    opacity: 0.6;
    width: 100%;
}

#pent2{
	position: absolute;
    transform: translate(-50%, -10%);
    opacity: 0.6;
    width: 100%;
}
#illl{
	position: absolute;
    transform: translate(-50%, -10%);
    opacity: 0.6;
    width: 100%;
}
#bonnn{
	position: absolute;
    transform: translate(-50%, -40%);
    opacity: 0.6;
    width: 100%;
}





/*버튼 이미지들들들들ㄷ륻르드들*/
#plague1, .butrans{
	transition-duration: 0.9s;
}
#plague2{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 40%;
	height: 100%;
	z-index: -10;
	opacity: 0;
	transition-duration: 0.9s;
}
#plague3{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	height: 100%;
	z-index: -10;
	opacity: 0;
	transition-duration: 0.9s;
}

#dis1, #dis2, #dis3{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	height: 100%;
	z-index: -10;
	opacity: 0;
	transition-duration: 0.9s;
}

#bill1, #bill2{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	height: 100%;
	z-index: -10;
	opacity: 0;
	transition-duration: 0.9s;
}

#a1, #ab1, #c1, #d1{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	height: 100%;
	z-index: -10;
	opacity: 0;
	transition-duration: 0.9s;
}